<div class="container">
  <div class="jumbotron">
    <!-- Add any content for the jumbotron if needed -->
  </div>

  <div class="product-list">
    <% @products.each do |product| %>
      <div class="product">
        <div class="img">
          <%= link_to product_path(product) do %>
            <img src="<%= product.images.first.url || 'https://via.placeholder.com/150' %>" alt="<%= product.name %>">
          <% end %>
        </div>
        <div class="info">
          <h3><%= product.name %></h3>
          <p><%= number_to_currency(product.product_prices.first.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
