
  <div class="product">
    <div class="img">
      <% if product.images.any? %>
        <%= link_to product_path(product) do %>
          <img src="<%= product.images.first.url %>" alt="<%= product.name %>">
        <% end %>
      <% else %>
        <img src="<%= asset_path('placeholder.jpg') %>" alt="No image available">
      <% end %>
    </div>
    <div class="info">
      <h3><%= product.name %></h3>
      <p><%= number_to_currency(product.product_prices.first.price) %></p>
    </div>
  </div>