        <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">Viper Corp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Products', products_path, class: 'nav-link' %>
              </li>
              <!-- Categories Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% @categories.each do |category| %>
                    <%= link_to category.name, products_path(category_id: category.id), class: 'dropdown-item' %>
                  <% end %>
                </div>
              </li>
            </ul>
            <!-- Search form in the nav -->
            <%= form_with url: products_path, method: :get, local: true, class: 'd-flex align-items-center' do %>
              <div class="input-group mb-6 ">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSearch" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= @categories.find { |c| c.id.to_s == params[:category_id] }&.name || 'Select Category' %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSearch">
                  <li><a class="dropdown-item search-dropdown-item" href="#" data-category="">All</a></li>
                  <% @categories.each do |category| %>
                    <li><a class="dropdown-item search-dropdown-item" href="#" data-category="<%= category.id %>"><%= category.name %></a></li>
                  <% end %>
                </ul>
                <input type="hidden" name="category_id" id="category_id" value="<%= params[:category_id] %>">
                <input type="search" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search products" aria-label="Search" id="search-input">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
            <% end %>
          </div>
          <ul class="navbar-nav">
              <%= render 'user/session_manager' %>
          </ul>
        </div>
      </nav>