<!-- Search form in the nav -->
<%= form_with url: products_path, method: :get, local: true, class: 'd-flex align-items-center' do %>
  <div class="input-group mb-6 ">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSearch" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @clothing_types.find { |c| c.id.to_s == params[:clothing_type_id] }&.name || 'Select Category' %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSearch">
      <li><a class="dropdown-item search-dropdown-item" href="#" data-category="">All</a></li>
      <% @clothing_types.each do |type| %>
        <li><a class="dropdown-item search-dropdown-item" href="#" data-category="<%= type.id %>"><%= type.name %></a></li>
      <% end %>
    </ul>
    <input type="hidden" name="clothing_type_id" id="clothing_type_id" value="<%= params[:clothing_type_id] %>">
    <input type="search" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search products" aria-label="Search" id="search-input">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
<% end %>