<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ViperCorp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Your custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- Navbar -->
  <%= render partial: 'layouts/navbar' %>

  <!-- Cart Div -->
  <div id="cart-div" class="cart-div">
    <%= render partial: 'cart/cart' if @render_cart %>
  </div>

  <div class="main-content">
    <%= yield %>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cartIcon = document.getElementById('cart-icon');
    const cartDiv = document.getElementById('cart-div');
    const closeButton = document.getElementById('close-button');

    if (cartIcon && cartDiv) {
      cartIcon.addEventListener('click', function() {
        // Toggle the 'show' class to slide the cart div in and out
        cartDiv.classList.toggle('show');
      });
    }

    if (closeButton && cartDiv) {
      closeButton.addEventListener('click', function() {
        // Remove the 'show' class to hide the cart div
        cartDiv.classList.remove('show');
      });
    }
  });
</script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var dropdownButton = document.getElementById('dropdownMenuButtonSearch');
        var clothingTypesInput = document.getElementById('clothing_type_id');
        var searchInput = document.getElementById('search-input');

        var selectedClothingType = clothingTypesInput.value;
        var selectedClothingTypeName = document.querySelector(`.search-dropdown-item[data-category="${selectedClothingType}"]`);

        if (selectedClothingTypeName) {
          dropdownButton.textContent = selectedClothingTypeName.textContent;
        }

        document.querySelectorAll('.search-dropdown-item').forEach(function(item) {
          item.addEventListener('click', function(event) {
            event.preventDefault();
            var clothingTypeId = this.getAttribute('data-category');
            var clothingTypeName = this.textContent;

            clothingTypesInput.value = clothingTypeId;
            searchInput.placeholder = 'Search in ' + (clothingTypeName || 'All Categories');

            dropdownButton.textContent = clothingTypeName || 'Select Category';
          });
        });
      });
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
