<!DOCTYPE html>
<html>
  <head>
    <title>ViperCorp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Your custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">Viper Corp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Products', products_path, class: 'nav-link' %>
            </li>
            <!-- Categories Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% @clothing_types.each do |type| %>
                  <%= link_to type.name, products_path(clothing_type_id: type.id), class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          </ul>
          <%= render 'layouts/search_form' %>
          <ul class="navbar-nav">
            <%= render 'user/session_manager' %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var dropdownButton = document.getElementById('dropdownMenuButtonSearch');
        var clothingTypesInput = document.getElementById('clothing_type_id');
        var searchInput = document.getElementById('search-input');

        var selectedClothingType = clothingTypesInput.value;
        var selectedClothingTypeName = document.querySelector(`.search-dropdown-item[data-category="${selectedClothingType}"]`);

        if (selectedClothingTypeName) {
          dropdownButton.textContent = selectedClothingTypeName.textContent;
        }

        document.querySelectorAll('.search-dropdown-item').forEach(function(item) {
          item.addEventListener('click', function(event) {
            event.preventDefault();
            var clothingTypeId = this.getAttribute('data-category');
            var clothingTypeName = this.textContent;

            clothingTypesInput.value = clothingTypeId;
            searchInput.placeholder = 'Search in ' + (clothingTypeName || 'All Categories');

            dropdownButton.textContent = clothingTypeName || 'Select Category';
          });
        });
      });
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
